{% extends "base.html.twig" %}
{% block title %} {{ parent() }}|about us{% endblock %}

{% block body %}

    <h1> ABOUT US</h1>

    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Asperiores autem, fuga minus nobis quisquam quo sit sunt ut veniam.
        Ad cum dignissimos modi obcaecati optio quidem similique, sint totam velit!</div>

{% endblock %}
