{% extends 'base.html.twig' %}

{% block title %}  {{ parent() }}|Home {% endblock %}

{% block body %}

    <h1> WELCOME </h1>
<div>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa enim nemo nihil numquam perferendis saepe sit,
        soluta velit veniam. Aliquid dolores iure mollitia nam obcaecati officiis quidem quos voluptatum. </p>
</div>
{% endblock %}