html
{
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}
header
{
    display: flex;
    justify-content: space-between;
}

img
{
    width: 80px;
   background-color: transparent;
}

.template
{
    display: flex;
    align-items: start;
    background-color: #B0413E;
}

