html
{
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}
header
{
    display: flex;
    justify-content: space-between;
}

img
{
    width: 80px;
   background-color: transparent;
}

.template
{
    display: flex;
    align-items: start;
    background-color: #B0413E;
}


.grille {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.grid-item {
    width: 300px;
    height: 200px;
    background: white;
}
