{% extends 'base.html.twig' %}

{% block body %}
    <h1> DETAIL</h1>



  <p>  {{ wish.title }}  </p>

   <p> {{ wish.category.name }} </p>
    <p> <a href="{{ path('wish_update', {'id':wish.id}) }}"> update</a></p>

{% endblock %}

{% block title %}
    {{ parent() }}|detail

{% endblock %}

