<div class = "nav">
    <a href="{{ path('main_home') }}"> HOME</a>
    <a href="{{ path(' main_aboutus') }}"> ABOUT US</a>
    <a href="{{ path('wish_create') }}"> CREATE</a>
    <a href="{{ path('wish_list') }}"> LIST</a>
</div>
